<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In5 export server</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 40px auto;
            line-height: 1.6;
        }

        .link-card {

            padding: 3px;
            margin-bottom: 6px;
        }

        .link-card a {
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: #0066cc;
        }

        .link-card a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <h1>Loaded pages</h1>

    {% for link in links %}
    <div class="link-card">
        <a href="{{ link.url }}" target="_blank">
            {{ link.name }}
        </a>
    </div>
    {% endfor %}

</body>

</html>